* {
  box-sizing: border-box;
  font-family: 'Lucida Console', Monaco, monospace;
  color: black;
}

body {
   background: rgb(31, 192, 241);
  height: 100%;
  padding: 0%;
  margin: 0%;
  width: 100%;
}
header {
  height: 20%;
	background-color: #f0903c;
  padding: 3%;
}

footer {
	background-color: #e97f22;
  padding: 3%;
}
main {
  padding: 4%;
  background-color:rgb(31, 192, 241);
}